doctype html
html
	head
		meta(charset="utf-8")
		title Hello
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel="shortcut icon" href="https://ojrbqzf6q.qnssl.com/2017081424727favicon.ico")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/main.css")

		script(src="js/jquery-3.1.1.js")
		script(src="js/bootstrap.js")
		script(src="js/main.js")

	body
		| hello, i am a demo